---
import { Icon } from "astro-icon/components"; 
import PFRLogo from "../icons/PFRLogo.astro";
import SocialLinks from "../ui/SocialLinks.astro";

interface Contact {
  icon: string;
  link: string;
  text: string;
}

interface Social {
  icon: string;
  link: string;
  text: string;
}

interface Props {
  author: any;
  footnote: string;
  copyright: string;
  links: any;
  contact: Contact[];
  socials: Social[];
}

const { author, footnote, copyright, links, contact, socials } = Astro.props;
---

<footer class="footer footer-horizontal footer-center bg-base-300 p-10">
  <aside>
    <PFRLogo class="w-32" />
    <p class="font-bold">Eco-Friendly, Nutritious and Sustainable, Pet Food</p>
    <p class="flex items-center">
      {copyright}
      <Icon name="ph:copyright" class="w-4 h-4 mx-2" />
      {new Date().getFullYear()}
    </p>
  </aside>
  <nav>
    <SocialLinks class="w-8 h-8" socials={socials} />
  </nav>
</footer>
