---
import { getCollection } from "astro:content";
import Heading from "../ui/Heading.astro";
const siteData = await getCollection("siteCollection");
const siteInfo = siteData[0].data;
const site = siteInfo;
---

<section id="whatareif" class="bg-info">
  <div class="hero min-w-screen max-h-screen relative">
    <media-controller class="w-screen">
      <video
        slot="media"
        class="w-full h-[75vh] object-cover"
        src={site.aboutVideo}
        autoplay
        loop></video>
    </media-controller>
    <div class="hero-content text-neutral-content z-10">
      <div class="max-w-6xl space-y-3 text-center">
        <Heading size="xxl" class="text-balance" as="h1">
          {site.aboutTitle}
        </Heading>
      </div>
    </div>
  </div>
</section>

<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/media-chrome@4/+esm"
  is:inline></script>
