---
import { getCollection } from "astro:content";
import HeroBgFish from "../animatedimages/HeroBgFish.astro";
import HeroCatImage from "../animatedimages/HeroCatImage.astro";
import HeroDogImage from "../animatedimages/HeroDogImage.astro";
import Heading from "../ui/Heading.astro";
import HeroBgWaves from "../animatedimages/HeroBgWaves.astro";

const siteData = await getCollection("siteCollection");
const siteInfo = siteData[0].data;
const site = siteInfo;
const hero = site.hero;
---

{
  hero.map((heroItem) => (
    <div class="hero min-w-screen min-h-screen relative overflow-hidden">
      <HeroBgWaves />
      <HeroCatImage />
      <HeroDogImage />
      <HeroBgFish />

    {/* <div class="hero-overlay  "></div>   */}
      <div class="hero-content text-neutral-content mt-32 md:-ml-40 md:mt-0 z-10">
        <div class="max-w-2xl space-y-3">
          <Heading size="xxxl" fontstyle="serif" class="mb-2" as="h1">
            Paws
          </Heading>
          <Heading size="xxl" class="mb-8" as="h1">
            For Rivers
          </Heading>

          <Heading
            size="xl"
            fontstyle="serif"
            fontweight="light"
            class="text-balance mb-10"
          >
            {heroItem.subtitle}
          </Heading>
          <div>
            <a
              href={heroItem.btnLink}
              class="btn btn-warning btn-lg"
              title={heroItem.btnText}
            >
              <span>{heroItem.btnText}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  ))
}
