---
import { getCollection } from "astro:content";
import PFRLogoOutline from "../icons/PFRLogoOutline.astro";
import Container from "../ui/Container.astro";
import Heading from "../ui/Heading.astro";
import Paragraph from "../ui/Paragraph.astro";
import WaveDivider from "../ui/WaveDivider.astro";

const siteData = await getCollection("siteCollection");
const siteInfo = siteData[0].data;
const site = siteInfo;
---

<WaveDivider selectedColor="fill-success" class="z-10" />
<section id="whythispetfood" class="bg-success py-20">
  <Container width="marginx">
    <div class="relative flex flex-col md:flex-row items-center gap-4">
      <PFRLogoOutline
        class="hidden lg:block lg:min-w-64 stroke-info stroke-0"
      />
      <PFRLogoOutline
        class="w-full absolute -top-14 opacity-10 block lg:hidden stroke-info stroke-0"
      />
      <div>
        <Heading size="xl" class="mb-5"
          >{site.whythispetfoodTitle}
        </Heading>

        {
          site.whythispetfoodText.map((paragraph) => (
            <Paragraph class="">{paragraph}</Paragraph>
          ))
        }
      </div>
    </div>
  </Container>
</section>
