---
import PFRLogoOutline from "../icons/PFRLogoOutline.astro";
import Container from "../ui/Container.astro";
import Heading from "../ui/Heading.astro";
import Paragraph from "../ui/Paragraph.astro";
import WaveDivider from "../ui/WaveDivider.astro";
---

<WaveDivider selectedColor="fill-success" class="z-10" />
<section id="whythispetfood" class="bg-success py-20">
  <Container width="marginx">
    <div class="relative flex flex-col md:flex-row items-center gap-4">
      <PFRLogoOutline
        class="hidden lg:block lg:min-w-64 stroke-info stroke-0"
      />
      <PFRLogoOutline
        class="w-full absolute -top-14 opacity-10 block lg:hidden stroke-info stroke-0"
      />
      <div>
        <Heading size="xl" class="mb-5">Why this pet food</Heading>
        <Paragraph class="">
          Our meals and treats act as a supplement to meat based proteins and a
          replacement to ocean fish.
        </Paragraph>
        <Paragraph>
          Skin irritation and inflammation in pets can often be caused by a
          surplus of omega 6 fatty acids in the body, which are commonly found
          in vegetable oils and chicken fat-
        </Paragraph>
        <Paragraph>
          Omega 3 found naturally in fish can counteract the effects of omega 6.
        </Paragraph>
      </div>

      <!-- We aim to provide wholesome treats and supplements to take care of
          your pets’ nutritional requirements, with the additional benefits of
          addressing joint and skin health. We provide sustainable fish based
          pet food, through the use of overpopulated invasive freshwater fishes
          as a source of fish protein in pet food. It also provides an
          alternative source to wild caught/ farmed marine fish, with its high
          nutritional value and omega 3 fatty acids. Every purchase you make
          contributes towards river research and conservation projects. -->
    </div>
  </Container>
</section>
