--- 
import Fish from "./Fish.astro";
import FishMobile from "./FishMobile.astro";
---

<div class="absolute bottom-10 z-10 overflow-hidden">
  <Fish class="h-[80vh] object-cover hidden lg:block" />
  <FishMobile class=" object-cover block lg:hidden" />
</div>
