---
import { Image } from "astro:assets";
import fish from "@/assets/fish.png";
---

<div class="absolute bottom-0 z-0 overflow-hidden">
  <Image
    src={fish}
    alt="Paws for Rivers"
    title="Paws for Rivers"
    width={1920}
    height={1080}
    format="webp"
    quality={80}
    class="opacity-50 h-screen object-cover"
  />
</div>
