---
import { Image } from "astro:assets";
import fish from "@/assets/bg-fish.svg";
---

<div class="absolute bottom-0 z-0 overflow-hidden">
  <Image
    src={fish}
    alt="Animated image"
    width={1920}
    height={1080} 
    format="webp"
    quality={80}
    class="opacity-20 h-screen object-cover"
  />
</div>
