---
import { Image } from "astro:assets";
import waves from "@/assets/waves.png";
---

<div class="absolute bottom-0 left-0 ">
  <Image
    src={waves}
    alt="Paws for Rivers" 
    title="Paws for Rivers"
    width={1920}
    height={1080} 
    quality={80}
    class="h-screen object-cover"
  />
</div>
