---
import PreOrderFormPage from "@/components/PreOrderFormPage.astro";
import Layout from "../layouts/Layout.astro";
import Container from "@/components/Container.astro";
---

<Layout>
  <div class="bg-base-100">
    <Container class="py-20" width="marginxy">
      <div class="mx-auto flex flex-col items-center">
        <PreOrderFormPage />
      </div>
    </Container>
  </div>
</Layout>
