---
import { cn } from "@/lib/utils";

const { class: className, props } = Astro.props;
---

<p class={cn("font-sans text-lg tracking-wide leading-7 pb-5 text-justify", className)} {...props}>
  <slot />
</p>
