---
import Heading from "./Heading.astro";
import WaveDivider from "./WaveDivider.astro";
---

<WaveDivider class="z-10" selectedColor="fill-info" />
<div class="relative bg-info py-20">
  <div class="pb-20">
    <Heading size="xl" class="text-center text-balance max-w-5xl mx-auto">
      We work directly with local fishermen to source invasive fish turn them
      into healthy treats for your pets.
    </Heading>
  </div>
</div>
<WaveDivider selectedColor="fill-base-100" />
