---
import Container from "./Container.astro";
import Heading from "./Heading.astro";
import Paragraph from "./Paragraph.astro";
import PFRLogoOutline from "./PFRLogoOutline.astro";
import WaveDivider from "./WaveDivider.astro";
---

<WaveDivider
  selectedColor="fill-success"
  class="z-10"
/>
<section id="whythispetfood" class="bg-success py-20">
  <Container width="marginx">
    <div class="relative flex flex-col md:flex-row items-center gap-4">
      <PFRLogoOutline class="hidden lg:block lg:min-w-64" />
      <PFRLogoOutline
        class="w-full absolute -top-14 opacity-10 block lg:hidden"
      />
      <div>
        <Heading size="md" >Why this pet food</Heading>
        <Paragraph class="">
          We aim to provide wholesome treats and supplements to take care of
          your pets’ nutritional requirements, with the additional benefits of
          addressing joint and skin health. We provide sustainable fish based
          pet food, through the use of overpopulated invasive freshwater fishes
          as a source of fish protein in pet food. It also provides an
          alternative source to wild caught/ farmed marine fish, with its high
          nutritional value and omega 3 fatty acids. Every purchase you make
          contributes towards river research and conservation projects.
        </Paragraph>
      </div>
    </div>
  </Container>
</section>
