---
import { cn } from "@/lib/utils";
const { selectedColor, class: className, props } = Astro.props;
---

<div class={cn("relative h-24 -mt-20", className)}>
  <svg
    class={cn("absolute w-full h-full", selectedColor)}
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M 0 70 C 150 20, 300 120, 450 70 C 600 20, 750 120, 900 70 C 1050 20, 1200 120, 1200 70 L 1200 120 L 0 120 Z"
      class={cn(selectedColor, "transition-all duration-300 ease-in-out")}
    ></path>
  </svg>
</div>
